<!DOCTYPE html>
<html>
  <head>
    <title>Wesaac</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body" class="tg-home tg-hometwo">
    <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
      <%= render "layouts/navbar" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
  </body>
</html>
